<h1 class="text-3xl mb-3">Streets</h1>
<p class="text-xl mb-3">Number of streets : <%= @streets.count %></p>
<% @streets.each do |street| %>
  <ul class="text-xl">
    <li class="text-center mb-2 text-yellow-500 hover:text-orange-500"><%= link_to street.name, street %></li>
  </ul>
<% end %>